Source: mediascanner2
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.5
Build-Depends: cmake,
# To avoid GCC 4.8/4.9 ABI break issues.
               g++-4.9,
               dbus,
               debhelper (>= 9),
               libapparmor-dev,
               libdbus-1-dev,
               libdbus-cpp-dev (>= 4.0.0),
               libexif-dev,
               libglib2.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               libgtest-dev,
               libproperties-cpp-dev,
               libsqlite3-dev (>= 3.8.5),
               libudisks2-dev,
               qt5-default,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-test-plugin,
               dh-apparmor,
# For running unit tests
               gstreamer1.0-plugins-base,
               gstreamer1.0-plugins-good,
Homepage: https://launchpad.net/mediascanner2
XS-Testsuite: autopkgtest
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:mediascanner2

Package: libmediascanner-2.0-3
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Recommends: mediascanner2.0
Description: Access library for the media scanner's index
 This library provides convenient and safe access to the media scanner's
 index files.

Package: mediascanner2.0
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends: gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         dbus,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Media scanner package
 This package provides the media scanner service.

Package: libmediascanner-2.0-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: libmediascanner-2.0-3 (= ${binary:Version}),
         libsqlite3-dev,
         libglib2.0-dev,
         ${misc:Depends},
Description: Development files for libmediascanner
 This package provides the infrastructure for using the media scanner's
 access library in C++ based projects.

Package: qtdeclarative5-ubuntu-mediascanner0.1
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends: mediascanner2.0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: QML plugin for the Ubuntu Media Scanner
 This package provides components that allow access to the media
 scanner index from Qt Quick 2 / QML applications.
